{{ if and (isset .Params "featured") (ne .Params.featured "")}}
    {{ $.Scratch.Set "path" "title" }}
    {{ $.Scratch.Set "structType" "page" }}
    {{ partial "img-path" . }}
    {{ $path := $.Scratch.Get "path" }}
    {{ $alt := $.Scratch.Get "alt" }}
    {{ $img := $.Scratch.Get "img" }}
    {{ $vfs := $.Site.Params.devportal.vfs }}
    <a href="blog.do?p={{ .RelPermalink | safeURL }}" class="image featured">
        <img src="{{ .Site.Params.devportal.vfs }}{{ .RelPermalink }}{{ .Params.featured }}" alt="{{ $alt }}">
    </a>
{{ end }}