<li class="user-menu">
    <a class="current-user" href='#'></a>
    <a class="login menu-hidden" href="ssologin.do?relayState=/blog.do">Log In</a>

    <ul class="dropdown-menu menu-hidden">
        <li><a class="logout" href="#">Log Out</a></li>
    </ul>
</li>

<!---
<li id="user-menu" style="margin-right:15px">
    <span id="current-user">
        <a class="nav-user" href="#user"></a>
    </span>
    <span id="log-in"><a class="nav-user" href="ssologin.do?relayState=/blog.do">Log In</a></span>
    <ul class="dropdown-menu menu-hidden">
        <li><a id="logout" href="#">Log Out</a></li>
    </ul>
</li>
-->